<%- layout('layouts/main.ejs') %>

  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="dashboard-admin">
      <h1 class="dashboard-admin__titulo">Dashboard Administrativo</h1>

      <button onclick="create()" class="boton-agregar">Agregar Vehículo</button>

    </div>

    <div class="table-responsive admin-tabla">
      <table id="tabla-body" class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Folio interno</th>
            <th scope="col">Número Pase Adminsión</th>
            <th scope="col">Número Siniestro</th>
            <th scope="col">Tipo Vehiculo</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Fecha Egreso</th>
            <th scope="col">Estatus</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
      </table>
    </div>



    <!-- Boton de logout -->
    <button id="logoutButton" class="btn-logout">Cerrar Sesión</button>

    <!-- Importacion del JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      // Manejador del evento de click en el boton
      $(document).ready(function () {
        $('#logoutButton').click(function () {
          // Envia una peticion GET al servidor para finalizar la sesion
          $.get('/auth/logout', function (data) {
            // Maneja la respuesta entregada por el servidor
            console.log(data); // Despliega los mensajes del servidor.
            // Se redirecciona al usuario a la ruta / de la pagina
            // Supongamos que quieres eliminar la variable 'folio' del almacenamiento local
            localStorage.removeItem('folio');
            window.location.href = '/';
          });
        });
      });



      $(document).ready(function () {
        // Realizar una solicitud GET al servidor para obtener los datos de la base de datos
        $.get('/api/vehicles/info', function (response) {

          // console.log(response);
          const tablaBody = $('#tabla-body');

          response.forEach(registro => {
            const fila = `<tr class="table-light">
                      <td>${registro.veh_id}</td>
                      <td>${registro.veh_folioInterno}</td>
                      <td>${registro.veh_numPaseAdmision}</td>
                      <td>${registro.veh_numeroSiniestro}</td>
                      <td>${registro.veh_tipoVehiculo}</td>
                      <td>${registro.veh_fechaIngreso.toString().substring(0, 10)}</td>
                      <td>${registro.veh_fechaEgreso === null ? '' : registro.veh_fechaEgreso.toString().substring(0, 10)}</td>
                      <td>${registro.veh_estatusReparacion}</td>
                      <td>
                        <button class='btn btn-info btn-accion' onclick="edit(${registro.veh_folioInterno})">Editar</button>
                        <button class='btn btn-danger btn-accion' onclick="eliminarRegistro(${registro.veh_id})">Eliminar</button>
                      </td>
                    </tr>`;
            tablaBody.append(fila);
          });



        });

      });

      function edit(folio) {
        localStorage.setItem('vehicle_folio', folio);
        window.location.href = 'auth/editVehicle';
      }

      function create() {
        window.location.href = 'auth/createVehicle';
      }


      function eliminarRegistro(id) {
        $.ajax({
          url: `/api/vehicles/info/${id}/ID`,
          type: 'DELETE',
          success: function (response) {
            alert("Registro eliminado con éxito");
            window.location.reload();
          },
          error: function (error) {
            alert("Error al eliminar el registro");
          }
        });
      }

    </script>
  </body>