<%- layout('layouts/main.ejs') %>

<div class="agencias-img">
    <a href="https://goo.gl/maps/cwy8dYf1x8suM5a7A" target="_blank">
        <img class="imgUbicacionTorreon" src="img/mapa911.png" alt="Ubicación en Google Maps">
    </a>
    <div>
        <p class="texto-agencias">¿DÓNDE NOS UBICAMOS?</p>
        <p class="texto-agencias-horario">Estamos en Av. Lerdo de Tejada Ote.1508,
                                     <br> Tercero de Cobian Centro, 27000 Torreón, Coah.
        </p>
        <p class="texto-agencias">HORARIOS DE ATENCIÓN</p>
        <div class="agencias">
            <p class="texto-agencias-horario">Lunes: 
                                        <br>  8:30 - 14:00
                                        <br>  15:30 - 19:00
            </p>
            <p class="texto-agencias-horario">Martes: 
                                        <br>  8:30 - 14:00
                                        <br>  15:30 - 19:00
            </p>
            <p class="texto-agencias-horario">Miércoles: 
                                        <br>  8:30 - 14:00
                                        <br>  15:30 - 19:00
            </p>
            <p class="texto-agencias-horario">Jueves: 
                                        <br>  8:30 - 14:00
                                        <br>  15:30 - 19:00
            </p>
            <p class="texto-agencias-horario">Viernes: 
                                        <br>  8:30 - 19:00
            </p>
            <p class="texto-agencias-horario">Sábado: 
                                        <br>  8:30 - 14:00
                                        <br>  15:30 - 19:00
            </p>
        </div>
    </div>
</div>