<%- layout('layouts/main.ejs') %>

<div class="agencias-img">
    <img class="imagen1" src="img/ubicacion911.png">
    <div>
        <p class="texto-agencias">¿Dónde nos ubicamos?</p>
        <p class="texto-agencias-horario">Estamos en Av. Lerdo de Tejada Ote.1508,</p>
        <p class="texto-agencias-horario">Tercero de Cobian Centro, 27000 Torreón, Coah.</p>
        <p class="texto-agencias">Horarios de Atencion</p>
        <div class="agencias">
            <p class="texto-agencias-horario">Lunes: 8:30-14:00 y 15:30-19:00</p>
            <p class="texto-agencias-horario">Martes: 8:30-14:00 y 15:30-19:00</p>
            <p class="texto-agencias-horario">Miércoles: 8:30-14:00 y 15:30-19:00</p>
            <p class="texto-agencias-horario">Jueves: 8:30-14:00 y 15:30-19:00</p>
            <p class="texto-agencias-horario">Viernes: 8:30-19:00</p>
            <p class="texto-agencias-horario">Sábado: 8:30-14:00</p>
        </div>
    </div>
</div>