<%- layout('layouts/main.ejs') %>

<div class="contenedor__contacto">
    <div class="contacto__contacto">
        <!-- Primera parte de información del contacto -->
        <div>
            <h1 class="encabezado__contacto">Contacto</h1>

            <p class="texto__contacto">Id aliquet lectus proin nibh nisl. Egestas dui id ornare arcu odio ut. Tristique et egestas quis ipsum
                suspendisse ultrices gravida dictum. Nunc sed augue lacus viverra vitae. Est velit egestas dui id ornare
                arcu. Pharetra pharetra massa massa ultricies mi quis hendrerit. Tellus elementum sagittis vitae et leo.
                Quam quisque id diam vel quam elementum pulvinar. Pretium fusce id velit ut tortor. Eget gravida
            </p>  
        <!-- Segunda parte del contacto -->
            <h1 class="encabezado__contacto">Redes Sociales</h1>

        <div class="redes-sociales__contacto">
            <a class="a__contacto" href="https://www.facebook.com/AUTOMOTRIZ911TRC" target="_blank">
                <img src="img/facebook.png" alt="">
                Automotriz 911 S.A de C.V Torreón, Coahuila
            </a>

            <a class="a__contacto" href="https://www.facebook.com/automotriz911" target="_blank">
                <img src="img/facebook.png" alt="">
                Automotriz 911 S.A de C.V Monterrey
            </a>

            <a class="a__contacto" href="https://www.instagram.com/automotriz911trc/" target="_blank">
                <img src="img/instagram.png" alt="">
                @Automotriz911TRC
            </a>

            <a class="a__contacto" href="https:wa.me/528717133911?text=Buen día, quisiera cotizar un carro." target="_blank">
                <img src="img/whatsapp.png" alt="">
                +52 871 713 3911
            </a>
        </div>
    </div>
        <iframe class="FB" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAUTOMOTRIZ911TRC%2F%3Flocale%3Des_LA&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
       
    </div>

    <footer class="footer__contacto"> 2023 - Automotriz 911 S.A. de C.V. - Política de Privacidad </footer>
</div>