<%- layout('layouts/main.ejs') %>

  <body>
    <div class="dashboard-cliente">
      <h1 class="dashboard-cliente__titulo" id="nombre">Servicios de :</h1>

      <div id="dashboard-cliente__vehiculos">

      </div>

      <!-- Boton de logout -->
      <button id="logoutButton" class="btn-logout">Cerrar Sesión</button>
    </div>

    <!-- Importacion del JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

      // Función para generar elementos HTML basados en los datos de 'prueba'
      function generarElementosHTML(datos) {


        console.log(JSON.stringify(datos))

      }

      // Manejador del evento de click en el boton
      $(document).ready(function () {
        $('#logoutButton').click(function () {
          // Envia una peticion GET al servidor para finalizar la sesion
          $.get('/auth/logout', function (data) {
            // Maneja la respuesta entregada por el servidor
            console.log(data); // Despliega los mensajes del servidor.
            // Se redirecciona al usuario a la ruta / de la pagina
            window.location.href = '/';
          });
        });
      });

      $(document).ready(function () {

        // Realiza la petición get para obtener os vehículos de un cliente
        $.get('api/vehicles/myvehicles', function (response) {

          const nombre = response[0].cte_nombres;
          const apellido = response[0].cte_apPaterno;
          const saludo = document.getElementById('nombre');
          saludo.textContent = "Servicios de " + nombre + " " + apellido + ":";

          const contenedor = $('#dashboard-cliente__vehiculos');

          response.forEach((vehiculo) => {

            const elementoHTML = `
                                <div class="dashboard-cliente__tarjeta-vehiculo">
                                  <h2 class='titulo'>Datos del vehículo</h2>
                                  <p class='atributos'><strong>Vehículo:</strong> ${vehiculo.veh_tipoVehiculo}</p>
                                  <p class='atributos'><strong>Pase de Admisión:</strong> ${vehiculo.veh_numPaseAdmision}</p>
                                  <p class='atributos'><strong>Pase Siniestro:</strong> ${vehiculo.veh_numeroSiniestro}</p>
                                  <p class='atributos'><strong>Estatus:</strong> ${vehiculo.veh_estatusReparacion}</p>
                                  <p class='atributos'><strong>Fecha de Ingreso:</strong> ${ajustarFecha(vehiculo.veh_fechaIngreso)}</p>
                                  <p class='atributos'><strong>Fecha de Egreso:</strong> ${vehiculo.veh_fechaEgreso == null ? '' : ajustarFecha(vehiculo.veh_fechaIngreso)}</p>
                                </div>
                              `;
            contenedor.append(elementoHTML);
          });
        })
      })

      function ajustarFecha(fecha) {
        return fecha.split('T')[0];
      }
    </script>
  </body>