<%- layout('layouts/main.ejs') %>

  <body>
    <div class="dashboard-cliente">
      <h1 class="dashboard-cliente__titulo">Servicios de :</h1>

      <div id="dashboard-cliente__vehiculos">

      </div>

      <!-- Boton de logout -->
      <button id="logoutButton" class="btn-logout">Cerrar Sesión</button>
    </div>

    <!-- Importacion del JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

      function obtenerFolio() {
        const folioGuardado = localStorage.getItem('folioGuardado');
        if (folioGuardado) {
          return folioGuardado;
        } else {
          return null; // O puedes devolver un valor por defecto en caso de que no haya ningún folio guardado
        }
      }

      $(document).ready(function () {
        // const folio = obtenerFolio();
        const folio = 1111;
        // Realiza una solicitud GET al servidor para obtener los datos de la base de datos
        $.get(`/api/vehicles/info/${folio}/folio`, function (data) {
          // Maneja la respuesta entregada por el servidor
          //generarElementosHTML(data); // Genera los elementos HTML con los datos recibidos
          console.log(data);
        });

      });

      // Función para generar elementos HTML basados en los datos de 'prueba'
      function generarElementosHTML(datos) {
        const contenedor = $('#dashboard-cliente__vehiculos');
        for (const vehiculo in datos) {
          if (datos.hasOwnProperty(vehiculo)) {
            const info = datos[vehiculo];
            const elementoHTML = `
          <div class="dashboard-cliente__tarjeta-vehiculo">
            <h2 class='titulo'>Datos del vehículo</h2>
            <p class='atributos'><strong>Vehículo:</strong> ${info.vehiculo}</p>
            <p class='atributos'><strong>Estatus:</strong> ${info.estatus}</p>
            <p class='atributos'><strong>Fecha de Ingreso:</strong> ${info.fecha_ingreso}</p>
            <p class='atributos'><strong>Pase de Admisión:</strong> ${info.pase_admision}</p>
          </div>
        `;
            contenedor.append(elementoHTML);
          }
        }
      }

      // Manejador del evento de click en el boton
      $(document).ready(function () {
        $('#logoutButton').click(function () {
          // Envia una peticion GET al servidor para finalizar la sesion
          $.get('/auth/logout', function (data) {
            // Maneja la respuesta entregada por el servidor
            console.log(data); // Despliega los mensajes del servidor.
            // Se redirecciona al usuario a la ruta / de la pagina
            window.location.href = '/';
          });
        });
      });
    </script>
  </body>