<%- layout('layouts/main.ejs') %>

  <body>
    <div class="editar-vehiculo">
      <h1 class="dashboard-admin__titulo">Datos</h1>
    </div>

    <div class="editar-vehiculo__formulario">
      <h2 class="titulo">Actualización del vehículo</h2>
      <div>
        <div class="rows">
          <label for="" class="labels">Folio interno: *</label>
          <input class="inputs" id="folioInterno" />
        </div>
        <div class="rows">
          <label for="" class="labels">Número de pase de admisión: *</label>
          <input class="inputs" id="numeroPaseAdmision" />
        </div>
        <div class="rows">
          <label for="" class="labels">Número siniestro: *</label>
          <input class="inputs" id="numeroSiniestro" />
        </div>
        <div class="rows">
          <label for="" class="labels">Vehiculo: *</label>
          <input class="inputs" id="tipo" />
        </div>
        <div class="rows">
          <label for="" class="labels">Fecha de ingreso: *</label>
          <input class="inputs" type="date" id="fechaIngreso" />
        </div>
        <div class="rows">
          <label for="" class="labels">Fecha de egreso:</label>
          <input class="inputs" type="date" id="fechaEgreso" />
        </div>
        <div class="rows">
          <label for="" class="labels">Estatus: *</label>
          <input class="inputs" id="estatus" />
        </div>
        <button onclick="guardar()" class="boton-agregar">Guardar cambios</button>
      </div>
    </div>

    <!-- Boton de logout -->
    <button id="logoutButton" class="btn-logout">Cerrar Sesión</button>

    <!-- Importacion del JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

      var id, cuenta_id, cuenta_folio, cliente_id;

      // Manejador del evento de click en el boton
      $(document).ready(function () {
        $('#logoutButton').click(function () {
          // Envia una peticion GET al servidor para finalizar la sesion
          $.get('/auth/logout', function (data) {
            // Maneja la respuesta entregada por el servidor
            console.log(data); // Despliega los mensajes del servidor.
            // Se redirecciona al usuario a la ruta / de la pagina
            window.location.href = '/';
          });
        });
      });



      $(document).ready(function () {

        const folio = localStorage.getItem('vehicle_folio');
        // Llamada al backend para obtener los datos y llenar los inputs
        $.get(`/api/vehicles/info/${folio}/folio`, function (data) {

          // console.log(data);

          // Asigna los datos a los inputs
          $('.editar-vehiculo__formulario .rows:nth-child(1) input').val(folio);
          $('.editar-vehiculo__formulario .rows:nth-child(2) input').val(data.veh_numPaseAdmision);
          $('.editar-vehiculo__formulario .rows:nth-child(3) input').val(data.veh_numeroSiniestro);
          $('.editar-vehiculo__formulario .rows:nth-child(4) input').val(data.veh_tipoVehiculo);
          $('.editar-vehiculo__formulario .rows:nth-child(5) input').val(ajustarFecha(data.veh_fechaIngreso));
          $('.editar-vehiculo__formulario .rows:nth-child(6) input').val(data.veh_fechaEgreso === null ? '' : ajustarFecha(data.veh_fechaEgreso));
          $('.editar-vehiculo__formulario .rows:nth-child(7) input').val(data.veh_estatusReparacion);

          id = data.veh_id;
          cuenta_id = data.cta_id;
          cuenta_folio = data.cta_folio;
          cliente_id = data.cte_id;

        });
      });

      function guardar() {

        values = {
          veh_folioInterno: document.getElementById('folioInterno').value,
          veh_numPaseAdmision: document.getElementById('numeroPaseAdmision').value,
          veh_numeroSiniestro: document.getElementById('numeroSiniestro').value,
          veh_tipoVehiculo: document.getElementById('tipo').value,
          veh_fechaIngreso: document.getElementById('fechaIngreso').value,
          veh_fechaEgreso: document.getElementById('fechaEgreso').value,
          veh_estatusReparacion: document.getElementById('estatus').value,
          cta_id: cuenta_id,
          cte_id: cliente_id,
          cta_folio: cuenta_folio,
        }

        // $.put(`/api/vehicles/info/${id}/ID`, values).then(console.log("Exito"));
        $.ajax({
          url: `/api/vehicles/info/${id}/ID`,
          type: 'PUT',
          contentType: 'application/json',
          data: JSON.stringify(values),
          success: function (response) {
            alert("Actualizado éxitosamente");
            window.location.href = '/auth'
          },
          error: function (error) {
            alert("Error al actualizar los datos");
          }
        });
      }

      function ajustarFecha(fecha) {
        return fecha.split('T')[0];
      }
      
    </script>
  </body>