<%- layout('layouts/main.ejs') %>

    <div class="img-inicio">
        <div>
            <p class="texto-taller">TALLER MECÁNICO</p>
            <p class="texto-auto911">AUTOMOTRIZ</p>
            <p class="texto-auto911">911</p>
            <p class="texto-lema">Un nombre en el que puedes confiar</p>
            <br><br>
            <a id="boton_servicios" class="servicios-boton" href="servicios"> DESCUBRE NUESTROS SERVICIOS </a>
        </div>
        <img class="imagen_inicio" src="img/imagen_inicio.png">

        
    </div>