<%- layout('layouts/main.ejs') %>

<body>
    <div id="911-carrusel" class="carousel slide formato-carrusel " data-bs-ride="carousel">
        <!-- Texto que va dentro del carrusel -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#911-carrusel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#911-carrusel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#911-carrusel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <!-------------------------------------->
        <div class="carousel-inner imagen-servicios">
            <div class="carousel-item active c-item">
                <video src="img/bannerVidLavado.mp4" class="d-block w-100 c-img" autoplay loop muted></video>
                <div class="carousel-caption top-0 mt-4">
                    <h1 class="display-1 fw-bolder text-capitalize color-banner">Tenemos servicio de lavado</h1>
                </div>
            </div>
            <div class="carousel-item c-item">
                <video src="img/bannerVidFachada.mp4" class="d-block w-100 c-img" autoplay loop muted></video>
                <div class="carousel-caption">
                    <h1 class="display-1 fw-bolder text-capitalize color-banner">Asociados con GNP Seguros</h1>
                </div>
            </div>
            <div class="carousel-item c-item">
                <video src="img/bannerVidServicio.mp4" class="d-block w-100 c-img" autoplay loop muted></video>
                <div class="carousel-caption">
                    <h1 class="display-1 fw-bolder text-capitalize color-banner">Y personal capacitado</h1>
                </div>
            </div>
        </div>

    </div>

    <div>
        <h1 class="encabezado__servicios">CONOCE NUESTROS SERVICIOS</h1>
        <h2 class="texto__servicios">
            Piezas de calidad. Reparaciones de calidad</h2>
    </div>
    <div class="grid__servicios">
        <div class="item__servicios">
            <img class="item__servicios--img" src="img/img-serv-hojalateria.png" alt="Servicio de Hojalatería">
            <p class="item__servicios--texto">HOJALATERÍA</p>
        </div>
        <div class="item__servicios">
            <img class="item__servicios--img" src="img/img-serv-mec-gral.png" alt="Servicio de Mecánica General">
            <p class="item__servicios--texto">MECÁNICA GENERAL</p>
        </div>
        <div  class="item__servicios">
            <img class="item__servicios--img" src="img/img-serv-pintura-gral.png" alt="Servicio de pintura general">
            <p class="item__servicios--texto">PINTURA EN GENERAL</p>
        </div>
        <div class="item__servicios">
            <img class="item__servicios--img" src="img/img-serv-mec-colis.png" alt="Servicio de mecánica de colisión">
            <p class="item__servicios--texto">MECÁNICA DE COLISIÓN</p>
        </div>
        <div class="item__servicios">
            <img class="item__servicios--img" src="img/img-serv-estet-auto.png" alt="Servicio de estética Automotriz">
            <p class="item__servicios--texto">ESTÉTICA AUTOMOTRIZ</p>
        </div>
        <div class="item__servicios">
            <img class="item__servicios--img" src="img/img-serv-import-piezas.png" alt="Servicio de Importación de refacciones">
            <p class="item__servicios--texto">IMPORTACIÓN DE REFACCIONES</p>
        </div>
    </div>

    <!--
    <div class="contenedor">
        <div class="servicios">
            <div class="container">
                <img src="img/pintura_hojalateria.jpg.webp" alt="" class="imagen-servicios" style="max-width: 70%;">
                <label class="encabezado " style="margin: 1rem;">Pintura y hojalateria</label>
            </div>
            <div class="container">
                <img src="img/pulido.jpg" alt="" class="imagen-servicios" style="max-width: 75%;">
                <label class="encabezado" style="margin: 1rem;">Servicio de pulido </label>
            </div>
            <div class="container">
                <img src="img/control_liquidos.jpg" alt="" class="imagen-servicios" style="max-width: 70%;">
                <label class="encabezado" style="margin: 1rem;">Controles de liquidos</label>
            </div>
        </div>
    -->
    
    <div>
        <h1 class="encabezado__servicios">NUESTROS DEMÁS SERVICIOS</h1>
        <h2 class="texto__servicios"> Consulta todos nuestros demás servicios:</h2>
    </div>


    <div class="contenedor__servicios">
            <img class="img__servicios" src="img/img-serv-todosServ.png" alt="Ubicación en Google Maps">

            <div class="texto__todos--servicios">
                <p>- Hojalatería </p>
                <p>- Pintura en general</p>
                <p>- Mecánica de colisión, suspensión, ejes, soportes, puentes, frenos y mecánica en general</p>
                <p>- Servicio de varillaje </p>
                <p>- Estética automotriz, lavado de carrocería, motor, conchas, chasis, aspirado, protección de chasis </p>
                <p>- Localización y venta de refacciones</p>
                <p>- Importación de refacciones </p>
                <p>- Pulido, descontaminado y protección a la pintura.</p>
            </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous">
    </script>
</body>

