<%- layout('layouts/main.ejs') %>
<br>
<div class="circulo">
    <img src="/img/911.png" class="circulo-img">
</div>
<br>
<div class="formulario">
    <form action="/signin" method="POST">
        <br>
        <h1 class="texto-sesion">REGISTRARSE</h1>
    <div class="signup">
        <input type="password" name="password" placeholder="Confirmar Contraseña" class="campos2">
            <input type="password" name="password" placeholder="Contraseña" class="campos2">
            <input type="email" name="email" placeholder="usuario@dominio.com" class="campos2">
        </div>

        <button type="submit" class="boton-signup">
            SignUp
        </button>
        
    </form>
    <br>
</div>
</form>