<%- layout('layouts/main.ejs') %>
<div class="display">
    <br>
    <div class="circulo">
        <img src="/img/911.png" class="circulo-img">
    </div>
    <div class="formulario">
        <form action="/auth/signup" method="POST">
            <br>
            <h1 class="texto-sesion">REGISTRARSE</h1>
        <div class="signup">
            <!-- <input type="password" name="password" placeholder="Confirmar Contraseña" class="campos2"> -->
                <input type="password" name="password" placeholder="Contraseña" class="campos-signup">
                <input type="email" name="email" placeholder="usuario@dominio.com" class="campos-signup">
            </div>

            <button type="submit" class="boton-signup">
                SignUp
            </button>
            
        </form>
        <br>
    </div>
</div>
</form>