/*==================================================================ROOT========================================================================*/

/*PARA FACILITAR TODO EL USO DE LOS COLORES */
:root {
  --rojo911         : #d12926                 ;
  --amarillo911     : #fef709                 ;
  --blanco          : #ffffff                 ;
  --fuentePrincipal : 'Montserrat', sans-serif  ; 
}

/*==================================================================ROOT========================================================================*/

/*================================================================GLOBALES======================================================================*/

html { /*SIEMPRE USAR ESTOS 2*/
  box-sizing  : border-box  ;
  font-size   : 62.5%       ;
}

*, *::before, *::after {
  box-sizing  : inherit ;
}

.contenedor {
  display         : flex                    ;
  flex-direction  : column                  ;
  align-items     : center                  ;
  max-width       : 120rem                  ;
  margin          : 0 auto                  ;
  font-family     : var(--fuentePrincipal)  ;
}

body {
  background  : linear-gradient(235deg, black 30%, rgb(62, 2, 2))   ;
  margin      : 0                                                       ;
  min-height  : 100vh                                                   ;
}

.texto {
  color       : var(--blanco)           ;
  font-family : var(--fuentePrincipal)  ;
  font-size   : 1.5rem                  ;
  text-align  : justify                 ;
  margin-top  : .5rem                   ;
}

header {
  background-color  : #333        ;
  color             : var(--blanco) ;
  padding           : 2rem          ;
  text-align        : center        ;
}

h1 {
  margin  : 0 ;
}

div a {
  color           : var(--blanco) ;
  text-decoration : none          ;
  margin-right    : 1rem          ;
} 

section {
  color   : var(--blanco) ;
  padding : 20px          ;
}


/* Estilo para el nombre de la página */
a {
  text-decoration :  none   ;
  color           : black ;
  /* font-weight: normal; */
}

footer {
  position    : fixed                   ;
  width       : 100%                    ;
  font-family : var(--fuentePrincipal)  ;
  color       : var(--blanco)           ;
  font-size   : 1rem                    ;
  text-align  : center                  ;
  bottom      : 0                       ;
}

.contenedor {
  flex-direction  : row           ;
  justify-content : space-between ;
  text-align      : center        ;
  max-width       : 126rem        ;
  margin          : 0 auto        ;
}

.encabezado {
  font-family : var(--fuentePrincipal)  ;
  font-size   : 25px                    ;
  color       : #ffffff               ;
  text-align  : center                  ;
}

/*================================================================GLOBALES======================================================================*/

/*===============================================================AGENCIAS=======================================================================*/

.agencias-img{
  display         : flex    ;
  justify-content : center  ; 
  margin-top      : 100px   ;
}

.texto-agencias{
  font-family   : 'Montserrat', sans-serif  ;
  font-size     : 50px                      ;
  margin-top    : 0                         ;
  margin-bottom : 0                         ;
  font-weight   : bold                      ;
  margin-right  : 10px                      ;
  color         : white                   ;
  text-align    : center                    ;
}

.texto-agencias-horario{
  font-family   : 'Montserrat', sans-serif  ;
  margin-top    : 0                         ;
  margin-bottom : 2rem                      ;
  font-size     : 20px                      ;
  font-weight   : 300                       ;
  color         : white                   ;
  text-align    : center                    ;
}

.imagen1 {
  max-height    : 500px ;
  border-radius : 3rem  ;
  margin-right  : 1rem  ;
}

.agencias {
  display               : grid            ;
  grid-template-columns : repeat(2, 1fr)  ;
  margin-top            : 2rem            ;
  text-align            : center          ;
  column-gap            : 2rem            ;
  align-items           : center          ;
  justify-items         : center          ;
}

/*===============================================================AGENCIAS=======================================================================*/

/*================================================================CONTACTO======================================================================*/

.contacto {
  display               : grid            ;
  grid-template-columns : repeat(2, 1fr)  ;
  margin-top            : 2rem            ;
  text-align            : center          ;
  column-gap            : 2rem            ;
  align-items           : center          ;
  justify-items         : center          ;
}

.redes-sociales {
  display         : flex    ;
  flex-direction  : column  ;
  text-align      : justify ;  
}

.redes-sociales img {
  margin-right  : 1rem  ; /* Espacio entre la imagen y el texto */
  width         : 2rem  ;
}

.FB {
  margin        : 1rem  ;
  border-radius : 1rem  ;
}

/*================================================================CONTACTO======================================================================*/

/*=================================================================INDEX========================================================================*/

.img-inicio {
  display         : flex      ;
  justify-content : flex-end  ;
  align-items     : center    ;
  margin-top      : 100px     ;
}

.texto-auto911 {
  font-family   : 'Montserrat', sans-serif  ;
  font-size     : 75px                      ;
  margin-top    : 0                         ;
  margin-bottom : 0                         ;
  font-weight   : bold                      ;
  margin-right  : 10px                      ;
  color         : white                   ;
}

.texto-taller{
  font-family   : 'Montserrat', sans-serif  ;
  margin-top    : 0                         ;
  margin-bottom : 0                         ;
  font-weight   : 300                       ;
  font-size     : 30px                      ;
  color         : white                   ;
}

.texto-lema{
  font-family   : 'Montserrat', sans-serif  ;
  margin-top    : 0                         ;
  margin-bottom : 2rem                      ;
  font-size     : 25px                      ;
  font-weight   : 300                       ;
  color         : white                   ;
}

.servicios-boton {
  margin-top    : 2rem                                                                  ;
  text-align    : center                                                                ;
  padding       : 1.5rem 2rem                                                           ;
  border-radius : 50px                                                                  ;
  font-weight   : 700                                                                   ;
  font-size     : 20px                                                                  ;
  font-family   : 'Montserrat', sans-serif                                              ;
  background    : linear-gradient(135deg, rgb(223, 139, 62) 50%, rgb(182, 166, 20)) ;
  max-width     : 80%                                                                   ;
}

/*=================================================================INDEX========================================================================*/

/*================================================================PROFILE=======================================================================*/



/*================================================================PROFILE=======================================================================*/

/*===============================================================SERVICIOS======================================================================*/

.c-item {
  height  : 50rem ;
}

.c-img {
  height      : 100%  ;
  object-fit  : cover ;
}

.formato-carrusel {
  background-color: var(  --white  ) ;
  width           : 80%              ; 
  margin          : 0 auto           ;
  margin-top      : 1rem             ;
  border-radius   : 3rem             ;
}

.imagen-servicios {
  border-radius : 3rem  ;
}

.servicios {
  display         : flex        ;
  flex-direction  : row         ;
  align-items     : flex-start  ;
}

.centrar {
  text-align  : center  ;
}

/*===============================================================SERVICIOS======================================================================*/

/*============================================================SIGNIN Y SIGNUP===================================================================*/

/*TODO LO DEL LOGIN NO MOVER CHAVALES */
.signin {
  display         : flex            ;
  flex-direction  : column-reverse  ;
  align-items     : center          ;
  margin-top      : 0rem            ;
}

.signup {
  display         : flex            ;
  flex-direction  : column-reverse  ;
  align-items     : center          ;
  margin-top      : 5rem            ;
}

.formulario {
  position          : 10rem           ;
  margin-left       : 62.5rem         ;
  background-color  : var(--rojo911)  ;
  width             : 30rem           ;
  height            : 35rem           ;
  border-radius     : 2rem            ;
}

.campos {
  margin-top    : 30px          ;
  padding       : 0px 50px 0px  ;
  border-radius : .5rem         ;
  width         : 90%           ;
  height        : 50px          ;
  font-size     : 15px          ;
}

.campos2 {
  position      : relative      ;
  top           : -70px         ;
  margin-top    : 35px          ;
  padding       : 0px 70px 3px  ;
  border-radius : .5rem         ;
  width         : 90%           ;
  height        : 50px          ;
  font-size     : 15px          ;
}

.boton-signin {
  background-color  : var(--amarillo911)  ;
  border-color      : var(--amarillo911)  ;
  border-radius     : 1rem                ;
  margin-left       : 1rem                ;
  margin-top        : 35px                ;
  width             : 93%                 ;
  height            : 50px                ;
  font-size         : 20px                ;
}

/*BOTON PARA EL*/
.boton-signup {
  position          : relative            ;
  top               : -40px               ;
  background-color  : var(--amarillo911)  ;
  border-color      : var(--amarillo911)  ;
  border-radius     : 1rem                ;
  margin-left       : 1rem                ;
  margin-top        : -15px               ;
  width             : 93%                 ;
  height            : 45px                ;
  font-size         : 20px                ;
}

.vinculo {
  font-family : 'Montserrat'  ;
  font-weight : 300           ;
  color       : whitesmoke  ;
  margin-left : 17px          ;
  font-size   : 15px          ;
}

/*PARA EL TITULO DEL FORMULARIO */
.formulario h1{ 
  font-family : 'Montserrat'        ;
  text-align  : center              ;
  font-size   : 2rem                ;
  padding     : 5px 10px -10px 0px  ;
  color       : whitesmoke        ;
  
}

.circulo {
  position          : relative        ;
  left              : 72.6rem         ;
  background-color  : var(--rojo911)  ;  
  width             : 10rem           ;
  height            : 10rem           ;
  border-radius     : 50%             ;
  top               : 4.4rem          ;
}

.texto-sesion {
  margin-top  : 10px  ;
}

.circulo-img {
  position    : relative  ;
  left        : 2.5rem    ;
  top         : 1.5rem    ;
  max-width   : 100%      ;
  max-height  : 100%      ;
}

.container {
  position      : relative  ;
  width         : 100%      ;
  margin-bottom : 2rem      ;
}

/*============================================================SIGNIN Y SIGNUP===================================================================*/