*,
*::before,
*::after {
  box-sizing: inherit;
}

.html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.body {
  background: linear-gradient(235deg, black 30%, rgb(85, 4, 4));
  margin: 0;
  min-height: 100vh;
}

/*===============================================================AGENCIAS=======================================================================*/
.agencias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  text-align: center;
  column-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.agencias-img {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

@media screen and (max-width: 1280px) {
  .agencias-img {
    display: grid;
    margin: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .agencias-img {
    display: block;
    margin: 3rem;
  }
}
.texto-agencias {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  margin-right: 10px;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .texto-agencias {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .texto-agencias {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.texto-agencias-horario {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .texto-agencias-horario {
    font-size: 1.5rem;
  }
}
.imgUbicacionTorreon {
  max-height: 400px;
  border-radius: 3rem;
  margin-right: 1rem;
  margin-block: 1rem;
  transition: transform 0.3s, max-height 0.3s;
  margin-right: 8rem;
}
.imgUbicacionTorreon:hover {
  transform: scale(1.075);
}

@media screen and (max-width: 1280px) {
  .imgUbicacionTorreon {
    max-width: 100%;
    margin-block: 0rem;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 800px) {
  .imgUbicacionTorreon {
    max-width: 100%;
    margin-block: 0rem;
  }
}
/*===============================================================AGENCIAS=======================================================================*/
/*=================================================================INDEX========================================================================*/
.img-inicio {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 100px;
}

.texto-auto911 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  margin-right: 10px;
  color: #ffffff;
}

.texto-taller {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
}

.texto-lema {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
}

.imagen_inicio {
  max-height: 450px;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  margin-left: 8rem;
}

.servicios-boton {
  margin-top: 2rem;
  margin-left: 5rem;
  padding: 1.5rem 2rem;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(135deg, #f3ad0b 50%, #fccd02);
  color: #000000;
  max-width: 80%;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 1044px) {
  .img-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
  }
  .texto-auto911 {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    font-size: 75px;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
  }
  .texto-taller {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    z-index: 1;
  }
  .texto-lema {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    z-index: 1;
  }
  .imagen_inicio {
    width: auto;
    height: auto;
    position: absolute;
    border-radius: 4rem;
  }
  .servicios-boton {
    position: absolute;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.75rem;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(135deg, #f3ad0b 50%, #fccd02);
    color: #000000;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    bottom: 5vh;
    left: 35rem;
  }
}
/*=================================================================INDEX========================================================================*/
/*============================================================SIGNIN Y SIGNUP===================================================================*/
.signin {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 0rem;
}

.signup {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 5rem;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  position: 10rem;
  background-color: #d12926;
  width: 30rem;
  height: 35rem;
  border-radius: 2rem;
}

.campos {
  margin-top: 30px;
  padding: 0px 50px 0px;
  border-radius: 0.5rem;
  width: 90%;
  height: 50px;
  font-size: 15px;
}

.campos-signup {
  position: relative;
  top: -70px;
  margin-top: 35px;
  padding: 0px 70px 3px;
  border-radius: 0.5rem;
  width: 90%;
  height: 50px;
  font-size: 15px;
}

.boton-signin {
  background-color: #fef709;
  border-color: #fef709;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-top: 35px;
  width: 93%;
  height: 50px;
  font-size: 20px;
}

.boton-signup {
  position: relative;
  top: -40px;
  background-color: #fef709;
  border-color: #fef709;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-top: -15px;
  width: 93%;
  height: 45px;
  font-size: 20px;
}

.texto-sesion {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 5px 10px -10px 0px;
  color: #ffffff;
  margin-top: 10px;
}

.circulo {
  background-color: #d12926;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo-img {
  left: 2.5rem;
  top: 1.5rem;
  max-width: 100%;
  max-height: 100%;
}

/*============================================================SIGNIN Y SIGNUP===================================================================*/
/*============================================================CONTACTO===================================================================*/
.contenedor__contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.contacto__contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  text-align: center;
  column-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.encabezado__contacto {
  color: #ffffff;
  text-align: center;
}

.texto__contacto {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  margin-top: 0.5rem;
}

.redes-sociales__contacto {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.redes-sociales__contacto img {
  margin-right: 1rem;
  /* Espacio entre la imagen y el texto */
  width: 2rem;
}

.a__contacto {
  text-decoration: none;
  color: #ffffff;
}

.FB {
  margin: 1rem;
  border-radius: 1rem;
}

.footer__contacto {
  position: absolute;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  bottom: 0;
}

@media screen and (max-width: 1044px) {
  .contenedor__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
  }
}
@media screen and (max-width: 800px) {
  .contenedor__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .contacto__contacto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    text-align: center;
    column-gap: 2rem;
    align-items: center;
    justify-items: center;
  }
}
/*============================================================SERVICIOS===================================================================*/
.encabezado__servicios {
  color: #ffffff;
  text-align: center;
  margin-top: 3rem;
}

@media screen and (max-width: 1280px) {
  .encabezado__servicios {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .encabezado__servicios {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
.texto__servicios {
  padding-top: 0.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

.grid__servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto 12.5rem;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .grid__servicios {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .grid__servicios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin: auto;
  }
}
.item__servicios {
  align-content: center;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .item__servicios {
    padding: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .item__servicios {
    padding: 2rem;
  }
}
.item__servicios--img {
  width: 35rem;
  border-radius: 2rem;
  padding: 1rem;
}

@media screen and (max-width: 1280px) {
  .item__servicios--img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 800px) {
  .item__servicios--img {
    width: 100%;
    height: 100%;
  }
}
.item__servicios--texto {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

@media screen and (max-width: 1280px) {
  .item__servicios--texto {
    padding: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .item__servicios--texto {
    padding: 1rem;
  }
}
.contenedor__servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .contenedor__servicios {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .contenedor__servicios {
    display: block;
  }
}
.img__servicios {
  width: 60rem;
}

@media screen and (max-width: 1280px) {
  .img__servicios {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 800px) {
  .img__servicios {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
.texto__todos--servicios {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: auto 0;
}

@media screen and (max-width: 1280px) {
  .texto__todos--servicios {
    margin: 4rem;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 800px) {
  .texto__todos--servicios {
    margin: 2rem;
    font-size: 2rem;
  }
}
/*============================================================DASHBOARD CLIENTE===================================================================*/
.dashboard-cliente {
  color: white;
  margin: auto;
}

.dashboard-cliente__titulo {
  margin: 25px 0 0 25px;
  font-size: 28px;
}

.dashboard-cliente__tarjeta-vehiculo {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 25px;
  border-radius: 30px;
  border: 1px solid #FFF;
  min-height: 200px;
  padding: 15px;
  margin-bottom: 40px;
}

.dashboard-cliente__tarjeta-vehiculo .titulo {
  font-size: 26px;
  text-align: center;
  margin: 20px;
}

.dashboard-cliente__tarjeta-vehiculo .atributos {
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.dashboard-cliente__boton {
  display: block;
  margin: 30px auto;
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.7);
}

/*# sourceMappingURL=style.css.map */
